
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Master.cshtml";
}

    <br />
        <div class="container">
            <div class="section-header">
                <h1 style="color:red;text-align:center">Error</h1>
                <h3 style="text-align:center">An error occured while loading the page, Please go to the <a href="~/">Main Page</a>.</h3>
            </div>
        </div>
