@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "خطأ في معالجة الصفحة";
}

<h1 style="text-align:center;font-family:'Droid Arabic Kufi'" class="text-danger">خطأ في معالجة الصفحة</h1>
<hr style="text-align:center; width:40%"/>
<h3 style="text-align:center;font-family:'Droid Arabic Kufi'" class="text-danger">حدث خطأ أثناء معالجة البيانات الواردة لدى الخوادم أو تم ارسال بيانات خاطئة أو عدم استقبال طلبك بشكل صحيح. برجاء الرجوع الى <a href="~/Home">الصفحة الرئيسية</a></h3>

